<%= render 'layouts/sidebar', current_category: -1%>
<div class="col-sm-9 col-sm-offset-3 col-md-6 col-md-offset-4 main">
  <div class="panel panel-default">
    <div class="about">
      <p>
      The "Client Project" created by Vassileios Siopis on 10 Feb 2017.<br>
      It was delevoped in Ruby on Rails and used the following gems:
      <ul>
        <li> Her </li>     
        <li> Bootstap-sass </li>
      </ul>
      github: 
      <a href="https://github.com/vsiopis/client_project" target="_blank">Client Project source</a>
      </p>
      <p>
      The second part of the current project is the "Api Project" which provide data (JSON format) to the "Client Project" web application.<br>
      It was developed in Ruby on Rails and used the active_model_serializers gem.<br>
      </p>
      <p>
      github:
      <a href="https://github.com/vsiopis/api_project" target="_blank">Api Project source</a>
      </p>
    </div>
  </div>
</div>
