<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <% if current_category == 0 %>
      <li class="active"><%= link_to "All Categories", root_path %></li>
    <% else %>
      <li><%= link_to "All Categories", root_path %></li>
    <% end %>
    <% @categories.each do |c| %>
      <% if current_category == c.id %>
      <li class="active"><%= link_to "#{c.name}", category_path(c.id) %></li> 
      <% else %>
      <li><%= link_to "#{c.name}", category_path(c.id) %></li> 
      <% end %>
    <% end %>
  </ul>
</div>
